$font1: 'Montserrat', sans-serif;
$font2: 'Poppins', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
}
.layout{
    width: 66%;
    margin: auto;
    
}

.section-1{
    background-color: #101010;
}
header{
    .head-all{
        width: 95%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hleft{
            .logo{
                img{
                    width: 100%;
                    max-height: 66px;
                }
            }
        }
        .hright{
            a{
                display: inline-block;
                color: #c6c9d8;
            }
            display: flex;
            .hrnav{
                display: flex;
                align-items: center;
                ul{
                    margin: 0;
                    #first{
                        color: #f9004d;
                        
                    }
                }
                li{
                    display: inline-block;
                    padding:0  10px;
                    
                    
                }
            }
            }
            .hrbtn{
                display: flex;
                align-items: center;
                a{
                    margin: 0 0 0 30px;
                    font-size: 0.8rem;
                    border:2px solid #c6c9d8;
                    border-radius: 5px;
                    padding: 10px 25px;

                }
                #ham{
                    scale: 1.2;
                    display: none;
                }
                
            i::before{
                color: white;
                margin: 0 0 0 30px;
                scale: 0.7;
            }

            
        }
    }
}
.text-1{
    width: 100%;
    h1{
        font-family: $font1;
        font-weight: 900;
        padding: 100px 15px 0;
        font-size: 7rem;   
    background: -webkit-linear-gradient( #f94200, #f9004d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
.boxes{
    .box-all{
        margin: 50px 0 150px;
        .box{
            padding: 40px 15px;
            
            img{
                scale: 0.9;
                margin: 0 0 30px;
            }
            h3{
                font-family: $font2;
                margin: 0 0 15px;
                color: #c6c9d8;
                font-size: 1.5rem;
            }
            p{
                font-family: $font2;
                color: #c6c9d8;
                font-weight: 200;
                font-size: 1.1rem;
            }
        }
    }
}
@media (max-width: 1200px) {
    .layout{
        width: 95%;
    }
    
        
}
@media (max-width:992px){
header{
    .head-all{ 
        .hleft{
            .logo{
                max-height: 50px;
                img{
                    max-height: 50px;
                
            }
        }   
    }
}
    .hright{
        #navv{
            display: none;
        }
        .hrbtn{
            #let{
                display: none;
            }
            #ham{
                display: inline-block;
            }
            
        }
    }
}
.layout{
    .text-1{

        h1{
            padding: 70px 15px 0;
            margin: 0 0 10px;
            font-size: 4rem;
        }
    }
    .boxes{
        .container{
            .box-all{
                .box{
                    margin: 0;
                    padding: 15px;
                }
            }
        }
    }
}
}
.section-2{
    background-color: #191919;
    .layout{
        .s-all{
            display: flex;
            transform: translateY(-17%);
            .sleft{
                img {
                    max-width: 471px;
                    border-radius: 10px;
                }
            }
            .sright{
                display: flex;
                align-items: flex-end;
                padding: 0 0 30px;
                .sr-all{
                    padding: 50px;
                    .srtop{
                        span{
                            color: #f9004d;
                            font-family: $font2;
                            font-size: 0.8rem;
                            display: inline-block;
                            margin: 0 0 15px;
                        }
                        h3{
                            margin: 0 0 25px;
                            color: #fff;
                            font-family: $font2;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        p{
                            color: #c6c9d8bf;
                            font-family: $font2;
                            font-size: 0.9rem;

                        }
                    }
                    .srbottom{
                        
                        margin: 40px 0 0;
                        display: flex;
                        
                        .box2{
                            &::before{
                                content: '';
                                display: inline-block;
                                background-color: #f9004d;
                                width: 30px;
                                height: 1px;
                                margin: 0 0 30px 0;
                            }
                            background: -webkit-linear-gradient( #f94200, #f9004d);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: $font2;
                            p{
                                font-size: .7rem;
                            }
                            h1{
                                font-weight: bold;
                                font-size: 3rem;
                            }
                            
                        }
                        #b2{
                            margin: 0 0 0 80px;
                        }
                        


                    }

                }
            }
        }
    }
    
}
@media (max-width:576px){
    .section-2{
        .layout{
            .s-all{
                flex-direction: column;
                transform: none;
                .sleft{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 95%;
                        margin: 60px 0 0;
                        
                    }
                }
                .sright{
                    .sr-all{
                        padding: 40px 20px;
                        .srtop{
                            span{
                                font-size: 1rem;
                            }
                            p{
                                font-size: 1rem;
                            }
                        }
                        .srbottom{
                            #b2{
                                margin: 0 0 0 40px;
                            }
                            .box2{
                                
                                
                                p{
                                    font-size: 1rem;
                                }
                                h1{
                                    font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
            } 
    }
                    
}
}
@media (max-width:992px){
    .section-2{
        .layout{
            .s-all{
                flex-direction: column;
                transform: none;
                .sleft{
                    display: flex;
                    justify-content: center;

                    img{
                        max-width: 95%;
                        width: 95%;
                        margin: 60px 0 0;
                        
                    }
                }
                .sright{
                    .sr-all{
                        padding: 40px 20px;
                        .srtop{
                            span{
                                font-size: 1rem;
                            }
                            p{
                                font-size: 1rem;
                            }
                        }
                        .srbottom{
                            #b2{
                                margin: 0 0 0 80px;
                            }
                            .box2{
                                
                                
                                p{
                                    font-size: 1rem;
                                }
                                h1{
                                    font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
            } 
    }
                    
}
}
@media only screen and (min-width: 992px) and (max-width: 1300px){
    .section-2{
        .layout{
            .s-all{
                transform: none;
                .sleft{
                    display: flex;
                    justify-content: center;
                    img{
                        max-width: 360px;
                        margin: 60px 0 0;
                        
                    }
                }
            }
        }
    }
}